{% extends "home/base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Agregar Ingredientes Extra a la Bebida</h1>
    <form method="post" action="{% url 'agregar_ingredientes' detalle_venta.id %}" class="form-inline needs-validation" novalidate>
        {% csrf_token %}
        <div class="form-group mb-3">
            {{ ingrediente_form.ingrediente.label_tag }}
            {{ ingrediente_form.ingrediente }}
        </div>
        <div class="form-group mx-sm-3 mb-3">
            {{ ingrediente_form.cantidad.label_tag }}
            {{ ingrediente_form.cantidad }}
        </div>
        <input type="hidden" name="action" value="add">
        <button type="submit" class="btn btn-primary mb-3">Agregar Ingrediente</button>
    </form>

    <div class="mt-5">
        <h3>Ingredientes Extra en esta Bebida</h3>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="thead-light">
                    <tr>
                        <th>Imagen</th>
                        <th>Nombre</th>
                        <th>Cantidad</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ingrediente in detalle_venta.detalleventaingrediente_set.all %}
                    <tr>
                        <td><img src="{{ ingrediente.ingrediente.imagen.url }}" alt="{{ ingrediente.ingrediente.nombre }}" style="height: 50px;"></td>
                        <td>{{ ingrediente.ingrediente.nombre }}</td>
                        <td>
                            <form method="post" action="{% url 'agregar_ingredientes' detalle_venta.id %}" class="form-inline">
                                {% csrf_token %}
                                <input type="hidden" name="ingrediente_id" value="{{ ingrediente.id }}">
                                <input type="hidden" name="action" value="update">
                                <div class="input-group">
                                    <input type="number" name="cantidad" value="{{ ingrediente.cantidad }}" class="form-control mr-5" style="width: 10px;">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-outline-primary">Actualizar</button>
                                    </div>
                                </div>
                            </form>
                        </td>
                        <td>
                            <form method="post" action="{% url 'agregar_ingredientes' detalle_venta.id %}">
                                {% csrf_token %}
                                <input type="hidden" name="ingrediente_id" value="{{ ingrediente.id }}">
                                <input type="hidden" name="action" value="delete">
                                <button type="submit" class="btn btn-danger">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <a href="{% url 'agregar_detalle_venta' detalle_venta.venta.id %}" class="btn btn-secondary mt-3">Terminar y Agregar Otra Bebida</a>
    </div>
</div>
{% endblock %}

