{% extends "home/base.html" %}

{% block content %}
<div class="m-5">
    <h1>Agregar Ingredientes Extra a la Bebida</h1>
</div>
<div class="container-sm" style="max-width: 1200px;">
    <form method="post" action="{% url 'agregar_ingredientes' detalle_venta.id %}" class="mt-4">
        {% csrf_token %}
        {{ ingrediente_form.as_p }}
        <button type="submit" class="btn btn-primary">Agregar Ingrediente</button>
    </form>
    <h3 class="mt-5">Ingredientes Extra en esta Bebida</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
            {% for ingrediente in detalle_venta.detalleventaingrediente_set.all %}
            <tr>
                <td>{{ ingrediente.ingrediente.nombre }}</td>
                <td>{{ ingrediente.cantidad }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'agregar_detalle_venta' detalle_venta.venta.id %}" class="btn btn-secondary mt-3">Terminar y Agregar Otra Bebida</a>
</div>
{% endblock %}
