{% extends "home/base.html" %}

<!DOCTYPE html>
<html lang="es">

{% block content %}
<body class="m-5">
  <div>
    <h1>Carrito de Compras</h1>

      <div class="container-sm table-responsive" style="max-width: 800px;">
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th>Producto</th>
              <th>Ingredientes</th>
              <th>Subtotal</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for p in carrito.productos.all %}
              <tr>
                <td>{{ p.producto.base }}</td>
                <td>
                  <table class="table table-borderless">
                    <tbody>
                      {% for ing in p.producto.ingredientes.all %}
                        <tr>
                          <td>{{ ing }}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </td>
                <td>${{ p.producto.precio }}</td>
                <td><a href="#" class="btn btn-outline-warning">Update</a></td>
                <td><a href="{%url 'eliminar_producto' p.id%}" class="btn btn-outline-danger">Delete</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <p>Total: ${{ total }}</p>
    </div>

    <div class="m-5">
      <form method="POST" action="{% url 'carrito' %}">
        {% csrf_token %}
        {{ form }}
        <br>
        <br>
        <button type="submit" class="btn btn-success">Terminar venta</button> 
        <a href="{% url 'index' %}" class="btn btn-danger">Cancelar</a>
      </form>
    </div>
  </body>
{% endblock content %}

</html>

