{% extends "home/base.html" %}

{% block content %}
<div class="m-5">
    <h1>Agregar Nuevo Proveedor</h1>
</div>
<div class="container-sm table-responsive" style="max-width: 1200px;">
    <form method="post" action="{% url 'proveedores_nuevo' %}" class="mt-4">
        {% csrf_token %}
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre:</label>
            <input type="text" class="form-control" id="nombre" name="nombre">
        </div>
        <div class="mb-3">
            <label for="compañía" class="form-label">Compañía:</label>
            <input type="text" class="form-control" id="compañía" name="compañía">
        </div>
        <div class="mb-3">
            <label for="direccion" class="form-label">Dirección:</label>
            <input type="text" class="form-control" id="direccion" name="direccion">
        </div>
        <div class="mb-3">
            <label for="correo" class="form-label">Correo:</label>
            <input type="email" class="form-control" id="correo" name="correo">
        </div>
        <div class="mb-3">
            <label for="numero" class="form-label">Número de teléfono:</label>
            <input type="text" class="form-control" id="numero" name="numero">
        </div>
        <button type="submit" class="btn btn-primary">Agregar Proveedor</button>
        <a href="{% url 'proveedores' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock content %}
