{% extends 'home/base.html'%}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tu página principal</title>
</head>
<body>

<div class="container">
  <ul class="nav nav-tabs" id="categorias-tabs">
    {% for categoria in categorias %}
      <li class="nav-item">
        <a class="nav-link" id="categoria-{{ categoria.id }}" href="#">{{ categoria.nombre }}</a>
      </li>
    {% endfor %}
  </ul>

  <div id="bebidas-container">
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('.nav-link').forEach(tab => {
      tab.addEventListener('click', function(event) {
        event.preventDefault();
        const categoriaId = tab.getAttribute('id').split('-')[1];
        console.log('Categoria seleccionada:', categoriaId);
      });
    });
  });
</script>

</body>
</html>
