{% extends "home/base.html" %}

{% block content %}
<div class="m-5">
    <h1>Recetario</h1>
    <a href="#" class="btn btn-outline-info">Nueva receta</a>
</div>

<div class="container-sm table-responsive">
    <table class="table table-striped">
        <thead>
            <th>Nombre</th>
            <th>Ingredientes</th>
            <th>Precio base</th>
            <th>Acciones</th>
        </thead>
        <tbody>
            {% for item in recetario %}
                <tr>
                    <td>{{ item.nombre }}</td>
                    <td>
                        {% for ing in item.ingredientes.all %}
                            {{ ing.nombre }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ item.precio_base }}</td>
                    <td>
                        <a href="#" class="btn btn-outline-warning">Editar</a>
                        <a href="#" class="btn btn-outline-danger">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}

