{% extends "home/base.html" %}

{% block content %}
<div class="m-5">
    <h1>Detalles de la Orden #{{ venta.id }}</h1>
</div>
<div class="container-sm table-responsive" style="max-width: 1200px;">
    <h3>Cliente: {{ venta.cliente }}</h3>
    <h3>Total: {{ venta.total }}</h3>
    <h3>Estado: {{ venta.estado }}</h3>
    <br>
    <h4>Bebidas en esta Orden</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Ingredientes Extra</th>
            </tr>
        </thead>
        <tbody>
            {% for detalle in venta.detalleventa_set.all %}
            <tr>
                <td>{{ detalle.bebida.nombre }}</td>
                <td>{{ detalle.cantidad }}</td>
                <td>{{ detalle.precio_unitario }}</td>
                <td>
                    {% for ingrediente in detalle.ingredientes_extra.all %}
                        {{ ingrediente.nombre }}<br>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'agregar_detalle_venta' venta.id %}" class="btn btn-primary">Agregar Bebida</a>
    {% if venta.estado == 'pendiente' %}
    <a href="{% url 'finalizar_venta' venta.id %}" class="btn btn-success">Finalizar Venta</a>
    {% endif %}
</div>
{% endblock %}

