{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Naturalito</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container-login {
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin-top: 100px;
            max-width: 400px;
            margin-left: auto;
            margin-right: auto;
        }

        .color-background {
            background-color: #B4CFEC;
        }
    </style>
</head>

<body class="color-background">
    <div class="container-login">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleInputUsuario">Ingresar usuario:</label>
                <input type="text" class="form-control" id="exampleInputUsuario" name="usuario" aria-describedby="usuarioHelp"
                    placeholder="Usuario">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Contraseña</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Constraseña">
            </div>
            
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
</body>

</html>